<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>uniApp</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />


    <div class="credits text-center">
    <img src="app/images/logo_fii.png">
    <h2>Facultatea de Informatică Iaşi</h2>
    </div>

    <style type="text/css">
        body {
            padding-top: 60px;
        }

        .form-container {
            width: 400px;
            margin: auto;
            padding-top:20px;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
    </style>
</head>
<body>
