<h1>Salut, {{user.firstName}}!</h1>



<div class="calendar">
	<div>




    <div class="page-header">
                <h1>Calendar FII</h1>
            </div>


		<button class="btn btn-primary" ng-click="changeView('agendaDay', 'myCalendar1')">Zi</button>
		<button class="btn btn-primary" ng-click="changeView('agendaWeek', 'myCalendar1')">Săptămână</button>
		<button class="btn btn-primary" ng-click="changeView('month', 'myCalendar1')">Lună</button>
        <button ng-click='addEvent(createdEvent)' class="btn btn-primary">add event</button>
        <button ng-click='deleteEvent(createdEvent)' class="btn btn-primary">delete event</button>







<div class="eventForm_container">
    <div class='eventForm'>



<div class="container">

  <div class='col-md-3'>
   <div class="form-group">
<label for="titlu">Titlul</label>
            <input type="text" id="titlu" class="form-control"  required />
            </div>
            </div>



    <div class='col-md-3'>
        <div class="form-group">
        <label>Data de inceput</label>
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>


    <div class='col-md-3'>
        <div class="form-group">
        <label>Data de sfarsit</label>
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

<div class="buttonCenter">
    <div class='col-md-3'>
     <div class="form-group">
    <button ng-click='addEvent(createdEvent)' class="btn btn-primary">Adauga eveniment</button>
    </div>
    </div>
    </div>

</div>








</div>
</div>




<div class="eventForm_container">
    <div class='eventForm'>
        Titlul: <input type="text" ng-model="createdEvent.title" name="titlu">
        Data de start: <input type="date" ng-model="createdEvent.dateStart" name="data">
        Data de inceput: <input type="date" ng-model="createdEvent.dateEnd" name="data">

        <p ng-show="eventInvalid === true">Please fill out all required fields</p>
    
    </div>
</div>
    </div>



	<div ui-calendar ng-model="eventSources" calendar="myCalendar1"></div>
</div>


  


                        <ul class="unstyled">
                            <li ng-repeat="e in events">
                                <div class="alert alert-info">
                                    <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
                                    <b> <input ng-model="e.title"></b> 
                                    {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
                                </div>
                            </li>
                        </ul>

                    </div>



                    