<h1>Salut, {{user.firstName}}!</h1>
<div class="calendar">
	<div>




    <div class="page-header">
                <h1>Calendar FII</h1>
            </div>


		<button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
		<button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
		<button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
        <button ng-click='addEvent(createdEvent)' class="btn btn-primary">add event</button>



<div class="eventForm_container">
    <div class='eventForm'>
        Titlul: <input type="text" ng-model="createdEvent.title" name="titlu">
        Data de start: <input type="date" ng-model="createdEvent.dateStart" name="data">
        Data de inceput: <input type="date" ng-model="createdEvent.dateEnd" name="data">

        <p ng-show="eventInvalid === true">Please fill out all required fields</p>

       
    </div>
</div>


	</div>
	<div ui-calendar ng-model="eventSources" calendar="myCalendar1"></div>
</div>


            <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                        <h3>Adauga</h3>

                        <p>Adauga evenimente personale</p>
                        <p>Aranjeaza-le asa cum doresti!</p>

                        <h3>Sterge</h3>

                        <p>Why Not?</p>
                        
                        <div class="btn-group calTools">
                          <button class="btn" ng-click="changeLang()">
                            {{changeTo}}
                          </button>              
                          <button class="btn" ng-click="addRemoveEventSource(eventSources,eventSource)">
                            Toggle Source
                          </button>
                          <button type="button" class="btn btn-primary" ng-click="addEvent()">
                            Add Event
                          </button>
                        </div>


                        <ul class="unstyled">
                            <li ng-repeat="e in events">
                                <div class="alert alert-info">
                                    <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
                                    <b> <input ng-model="e.title"></b> 
                                    {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
                                </div>
                            </li>
                        </ul>

                    </div>



                    