<h1>Profil</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="firstName">Prenume</label>
            <input type="text" id="firstName" class="form-control" ng-model="vm.user.firstName" value="user.firstName" readonly />
        </div>
        <div class="form-group">
            <label for="lastName">Nume</label>
            <input type="text" id="lastName" class="form-control" ng-model="vm.user.lastName" required />
        </div>
        <div class="form-group">
            <label for="password">Parola</label>
            <input type="password" id="password" class="form-control" ng-model="vm.user.password" />
        </div>


  <div class="form-group">
<label for="an">An</label>
<select class="form-control" ng-model="vm.user.an" value="user.an" required >
        <option value="L1">L1</option>
                        <option value="L2">L2</option>
                        <option value="L3">L3</option>
                        <option value="M1">M1</option>
                        <option value="M2">M2</option>
</select>
</div>



        <div class="form-group">
            <label for="grupa">Grupa</label>
            <select class="form-control" ng-model="vm.user.grupa" required>
         <option value="A1">A1</option>
                        <option value="A2">A2</option>
                        <option value="A3">A3</option>
                        <option value="A4">A4</option>
                        <option value="A5">A5</option>
                        <option value="A6">A6</option>
                        <option value="A7">A7</option>
                        <option value="A8">A8</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="B3">B3</option>
                        <option value="B4">B4</option>
                        <option value="B5">B5</option>
                        <option value="B6">B6</option>
                        <option value="B7">B7</option>
                        <option value="B8">B8</option>>
</select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser()">Actualizare</button>
            <button class="btn btn-danger" ng-click="vm.deleteUser()">Ştergere cont</button>
        </div>
    </form>
</div>


